<header class="header">
    <div class="title">
      <h1>Study</h1>
      <h1>Planner</h1>
    </div>
    <div class="logo">
      <img src="assets/planificador.png" alt="Planner Icon">
    </div>
    <div class="view-planner">
      <button [routerLink]="['visualizar']" class="action-button">Visualizar Planificador</button>
    </div>
  </header>
  
  <div class="actions">
    <div class="action-item">
      <img src="assets/agregarplan.png" alt="Agregar Planificador" />
      <button [routerLink]="['agregar']" class="action-button">Agregar Planificador</button>
    </div>
    <div class="action-item">
      <img src="assets/eliminar (3).png" alt="Eliminar Planificador" />
      <button [routerLink]="['eliminar']" class="action-button">Eliminar Planificador</button>
    </div>
    <div class="action-item">
      <img src="assets/editar.png" alt="Editar Planificador" />
      <button [routerLink]="['editar']" class="action-button">Editar Planificador</button>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  
  