.visual-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  
  li {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
  }
  
  p {
    margin: 5px 0;
    color: #555;
  }
  
  strong {
    font-weight: bold;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  .no-recipes {
    text-align: center;
    font-size: 18px;
    color: #888;
    padding: 20px;
    background-color: #f4f7fa;
    border-radius: 8px;
  }
  