<div class="visual-container">
  <ul *ngIf="planners && planners.length > 0">
    <li *ngFor="let planner of planners">
      <h3>{{ planner.name }}</h3>
      <p><strong>Detalles:</strong> {{ planner.details }}</p>
      <p><strong>Fecha de Inicio:</strong> {{ planner.start_date }}</p>
      <p><strong>Fecha de Fin:</strong> {{ planner.end_date }}</p>
      <p><strong>Hora de Inicio:</strong> {{ planner.start_time }}</p> 
      <p><strong>Hora de Fin:</strong> {{ planner.end_time }}</p> 
    </li>
  </ul>
  <p *ngIf="planners && planners.length === 0" class="no-recipes">No hay planificadores guardados.</p>
</div>
